<div id="login-form">
  <h3 id="login-title">Login / Sign Up</h3>
    <%= form_for :user do |f| %>
      <%= f.email_field :email, placeholder: "Enter your email" %>
      <%= f.password_field :password, placeholder: "Enter your password" %>
      <%= f.submit "Submit" %>
    <% end %>
</div>