<!-- <nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a id="main-logo" class="navbar-brand" href="/">Emoji Chat</a>
		</div>
		
		<ul class="nav navbar-nav navbar-right">
			<li><a href="/login">Login</a></li>
			<li><a href="/logout">Logout</a></li>
		</ul>
	</div>

 -->

 <nav class="navigation">
 	<div class="container-fluid">
 		<a id="main-logo" class="navbar-brand" href="/">Emoji Chat</a>
 	
 	<ul class="nav navbar-nav navbar-right">
			<li><a href="/login">Login</a></li>
			<li><a href="/logout">Logout</a></li>
		</ul>
		</div>
 </nav>