<%= stylesheet_link_tag 'style.css' %>
<h3>How Do You Feel Today?</h3>
<div>
  <div class="row">
    <a href="rooms/show"><div id="angry" class="col-xs-6"></div></a>
    <a href="rooms/show"><div id="sad" class="col-xs-6"></div></a>
  </div>
  <div class="row">
    <a href="rooms/show"><div id="happy" class="col-xs-6"></div></a>
    <a href="rooms/show"><div id="calm" class="col-xs-6"></div></a>
  </div>
</div>