<%= stylesheet_link_tag 'style.css' %>
<h3>How Do You Feel Today?</h3>
<div>
  <!-- <div class="row"> -->
    <a href="home/need"><div id="angry" class="col-md-6 col-xs-12 fill"></div></a>
    <a href="home/need"><div id="sad" class="col-md-6 col-xs-12 fill"></div></a>
  <!-- </div>
  <div class="row"> -->
    <a href="home/need"><div id="happy" class="col-md-6 col-xs-12 fill"></div></a>
    <a href="home/need"><div id="calm" class="col-md-6 col-xs-12 fill"></div></a>
  <!-- </div> -->
</div>