<%= stylesheet_link_tag 'style.css' %>
<h3>I want to talk to someone...?</h3>
<div>
  <div class="row">
    <a href="../rooms/show"><div id="angry" class="col-md-6 col-xs-12 fill"></div></a>
    <a href="../rooms/show"><div id="sad" class="col-md-6 col-xs-12 fill"></div></a>
  </div>
  <div class="row">
    <a href="../rooms/show"><div id="happy" class="col-md-6 col-xs-12 fill"></div></a>
    <a href="../rooms/show"><div id="calm" class="col-md-6 col-xs-12 fill"></div></a>
  </div>
</div>