<%= stylesheet_link_tag 'style.css' %>

<h1>Rooms#show</h1>

<div id="messages">
  <%= render @messages %>
</div>

<form>
  <label>
    Say something:<br>
  </label>
  <input type="text" data-behavior="room_speaker">

</form>