<%= stylesheet_link_tag 'style.css' %>
<div class="showPage">
  <h1 class="text-center">Chat Room</h1>
  <div class="pre-scrollable chatbox">
    <div id="messages">
      <%= render @messages %>
    </div>
  </div>

  <form class="text-center">
    <label>
      Say something:<br>
    </label>
    <div class="emoji-picker-container">
      <input class="form-control text-center" type="text" data-behavior="room_speaker" placeholder="Write text here" data-emojiable="true">
    </div>
  </form>

</div>
<%= javascript_include_tag('chatscroller') %>