  <%= stylesheet_link_tag 'style.css' %>

<h1>Rooms#show</h1>
<div class="showPage">
  <h1 class="text-center">Chat Room</h1>
  <div class="pre-scrollable">
    <div id="messages">
      <%= render @messages %>
    </div>
  </div>

  <form class="text-center">
    <label>
      Say something:<br>
    </label>
    <input class="form-control text-center" type="text" data-behavior="room_speaker" placeholder="Write text here">

  </form>
</div>