@import url(http://fonts.googleapis.com/css?family=Prosto+One);

@keyframes stretch {
  0% {
    transform: scale(1);
    background-color: #ADFFD5;
  }
  50% {
    background-color: #C4DDFF;
  }
  100% {
    transform: scale(1);
    background-color: #D9C09E;
  }
}

#login-title{
  color: #6184FF;
}

#login-form
{
  color: #777;
  border: 0px solid #afafaf;
  width: 45%;
  height: 400px;
  margin-left: 25%;
  margin-top: 120px;
  text-align: center;
  padding: 40px;
  padding-top: 20px;
  border-radius: 3px;
  box-shadow: 0px 0px 8px #777;
  background-color: white;

  animation-name: stretch;
  animation-duration: 1.5s; 
  animation-timing-function: ease-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

input
{
  color: #777;
  font-weight: bold;
  width: 70%;
  padding: 10px;
  margin: 10px;
  border: 1px solid #afafaf;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.5);
  outline: none;
}

.hap{
  width: 100px;
  margin: 30px 30px 0 10px;
}

.cry{
  width: 90px;
  margin: 30px 30px 0 10px;
}

.relax{
  width: 100px;
  margin: 30px 30px 0 10px;
}

.tear{
  width: 90px;
  margin: 30px 30px 0 30px;
}









