
h3{
  text-align: center;
  margin: 0 auto;
  font-family: "Futura";
}
#happy{
  background-color: yellow;
/*  width: 600px;*/
  /*height: 500px;*/
}
#sad{
  background-color: green;
/*  width: 300px;*/
  /*height: 500px;*/
}
#angry{
  background-color: red;
/*  width: 300px;*/
  /*height: 500px;*/
}
#calm{
  background-color: blue;
/*  width: 300px;*/
  /*height: 500px;*/
}
.fill{
    min-height: 500px;
    height: 500px;
}
.image{
  width: 100%;
  opacity: 0.5;
  filter: alpha(opacity=50);
}