
h3{
  text-align: center;
  margin: 0 auto;
  font-family: "Futura";
}
#happy{
  background-color: #FFD254;
}
#sad{
  background-color: #6184FF;
}
#angry{
  background-color: #E8587C;
}
#calm{
  background-color: #8EE89B;
}
#happy-need{
  background-color: #f7b733;
/*  width: 600px;*/
  /*height: 500px;*/
}
#sad-need{
  background-color: #4abdac;
/*  width: 300px;*/
  /*height: 500px;*/
}
#angry-need{
  background-color: #fc4a1a;
/*  width: 300px;*/
  /*height: 500px;*/
}
#calm-need{
  background-color: #dfdce3;
/*  width: 300px;*/
  /*height: 500px;*/
}
.fill{
  min-height: 400px;
  height: 400px;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.fill:hover{
  opacity: 1;
  filter: alpha(opacity=100);
}
.image{
  height: 100%;
  opacity: 0.5;
  filter: alpha(opacity=50);
  display: block;
  margin: 0 auto;
}